/**
 * @file 	HW.dts
 * @brief 	Devicetree overlay for bbai hardware
 *
 * see spruic2d, am5728 and 
 * https://github.com/beagleboard/beaglebone-ai/wiki/System-Reference-Manual 
 * for details and mode/offset definitions.
 *
 */

/dts-v1/;

#include "HW.defines.dtsi"
#include "dra74x.dtsi"
#include "am57xx-commercial-grade.dtsi"
#include "dra74x-mmc-iodelay.dtsi"
#include "dra74-ipu-dsp-common.dtsi"

// Device tree -------------------------------------------------------------------------------------
/ {
    model = "BeagleBoard.org BeagleBone AI";
    compatible = "beagle,am5729-beagleboneai", "ti,am5728","ti,dra742", "ti,dra74", "ti,dra7";
    chosen {base_dtb = "HW.dts"; base_dtb_version = "001"; stdout-path = &uart1;};
    aliases {rtc0 = &tps659038_rtc; rtc1 = &rtc; display0 = &hdmi_conn;};

    // default stuff -------------------------------------------------------------------------------
    memory@0 {device_type = "memory";reg = <0x0 0x80000000 0x0 0x40000000>;};
    reserved-memory {
        #address-cells = <2>;#size-cells = <2>;ranges;
        cmem_block_mem_1_ocmc3: cmem_block_mem@40500000 {reg = <0x0 0x40500000 0x0 0x100000>;no-map;status = "okay";};
        ipu2_memory_region: ipu2-memory@95800000 {compatible = "shared-dma-pool";reg = <0x0 0x95800000 0x0 0x3800000>;reusable;status = "okay";};
        dsp1_memory_region: dsp1-memory@99000000 {compatible = "shared-dma-pool";reg = <0x0 0x99000000 0x0 0x4000000>;reusable;status = "okay";};
        ipu1_memory_region: ipu1-memory@9d000000 {compatible = "shared-dma-pool";reg = <0x0 0x9d000000 0x0 0x2000000>;reusable;status = "okay";};
        dsp2_memory_region: dsp2-memory@9f000000 {compatible = "shared-dma-pool";reg = <0x0 0x9f000000 0x0 0x800000>;reusable;status = "okay";};
        cmem_block_mem_0: cmem_block_mem@a0000000 {reg = <0x0 0xa0000000 0x0 0x18000000>;no-map;status = "okay";};
    };
    cmem {
        compatible = "ti,cmem";#address-cells = <1>;#size-cells = <0>;#pool-size-cells = <2>;status = "okay";
        cmem_block_0: cmem_block@0 {reg = <0>;memory-region = <&cmem_block_mem_0>;cmem-buf-pools = <1 0x0 0x18000000>;};
        cmem_block_1: cmem_block@1 {reg = <1>;memory-region = <&cmem_block_mem_1_ocmc3>;};
    };

    vdd_adc: gpioregulator-vdd_adc {compatible = "regulator-gpio";regulator-name = "vdd_adc";vin-supply = <&vdd_5v>;regulator-min-microvolt = <1800000>;regulator-max-microvolt = <3300000>;regulator-always-on;regulator-boot-on;gpios = <&gpio3 27 GPIO_ACTIVE_HIGH>;states = <1800000 03300000 1>;};
    vdd_5v: fixedregulator-vdd_5v {compatible = "regulator-fixed";regulator-name = "vdd_5v";regulator-min-microvolt = <5000000>;regulator-max-microvolt = <5000000>;regulator-always-on;regulator-boot-on;};
    vtt_fixed: fixedregulator-vtt {compatible = "regulator-fixed";regulator-name = "vtt_fixed";vin-supply = <&vdd_ddr>;regulator-min-microvolt = <3300000>;regulator-max-microvolt = <3300000>;regulator-always-on;regulator-boot-on;};

    leds {
        compatible = "gpio-leds";pinctrl-names = "default";pinctrl-0 = <&led_pins_default>;
        led0 {label = "beaglebone:green:usr0";gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;linux,default-trigger = "heartbeat";default-state = "off";};
        led1 {label = "beaglebone:green:usr1";gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;linux,default-trigger = "mmc0";default-state = "off";};
        led2 {label = "beaglebone:green:usr2";gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;linux,default-trigger = "cpu";default-state = "off";};
        led3 {label = "beaglebone:green:usr3";gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;linux,default-trigger = "mmc1";default-state = "off";};
        led4 {label = "beaglebone:green:usr4";gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;linux,default-trigger = "netdev";default-state = "off";};};

    hdmi_conn: connector@0 {compatible = "hdmi-connector";label = "hdmi";type = "a";port {hdmi_connector_in: endpoint {remote-endpoint = <&hdmi_encoder_out>;};};};
    hdmi_enc: encoder@0 {compatible = "ti,tpd12s015";gpios = <0>,<0>,<&gpio7 12 GPIO_ACTIVE_HIGH>;ports {#address-cells = <0x1>;#size-cells = <0x0>;port@0 {reg = <0x0>;hdmi_encoder_in: endpoint@0 {remote-endpoint = <&hdmi_out>;};};port@1 {reg = <0x1>;hdmi_encoder_out: endpoint@0 {remote-endpoint = <&hdmi_connector_in>;};};};};

    emmc_pwrseq: emmc_pwrseq {compatible = "mmc-pwrseq-emmc";reset-gpios = <&gpio5 7 GPIO_ACTIVE_LOW>;pinctrl-names = "default";pinctrl-0 = <&emmc_pwrseq_pins_default>;};
    brcmf_pwrseq: brcmf_pwrseq {compatible = "mmc-pwrseq-simple";pinctrl-names = "default";pinctrl-0 = <&brcmf_pwrseq_pins_default>;reset-gpios = <&gpio3 22 GPIO_ACTIVE_LOW>,	/* BT-REG-ON */<&gpio3 18 GPIO_ACTIVE_LOW>;	/* WL-REG-ON */};

    unused_pins: unused_pins {compatible = "gpio-leds";pinctrl-names = "default";pinctrl-0 = <&unused_pins_default>;};
    extcon_usb1: extcon_usb1 {compatible = "linux,extcon-usb-gpio";ti,enable-id-detection;id-gpio = <&gpio3 13 GPIO_ACTIVE_HIGH>;pinctrl-names = "default";pinctrl-0 = <&extcon_usb1_pins_default>;};

    //custom stuff ---------------------------------------------------------------------------------
    default_pins: default_pins {compatible = "gpio-leds";pinctrl-names = "default";pinctrl-0 = <&default_header_pins>;};
};

#include "HW.pinmuxer.dtsi"
#include "HW.ocp.dtsi"
#include "HW.misc.dtsi"