/**
 * @file 	HW.dts
 * @brief 	Devicetree overlay for bbai hardware
 *
 * see spruic2d, am5728 and 
 * https://github.com/beagleboard/beaglebone-ai/wiki/System-Reference-Manual 
 * for details and mode/offset definitions.
 *
 */
/dts-v1/;

#include "defines.dtsi"
#include "iodelays.dtsi"
#include "pinmuxer.dtsi"

/ {
    model = "BeagleBoard.org BeagleBone AI";
    compatible = "beagleboard.org,am57xx-beagleboneai", "ti,am5728", "ti,dra742", "ti,dra74", "ti,dra7";

    chosen {base_dtb = "HW.dts"; base_dtb_version = "000"; stdout-path = &uart1;};

    memory@0 {device_type = "memory";reg = <0x0 0x80000000 0x0 0x40000000>;};
    cpus {cpu@1 {device_type = "cpu";compatible = "arm,cortex-a15";reg = <1>;operating-points-v2 = <&cpu0_opp_table>;clocks = <&dpll_mpu_ck>;clock-names = "cpu";clock-latency = <300000>;#cooling-cells = <2>;vbb-supply = <&abb_mpu>;};};
    pmu {compatible = "arm,cortex-a15-pmu";interrupt-parent = <&wakeupgen>;interrupts = <GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH>,<GIC_SPI 132 IRQ_TYPE_LEVEL_HIGH>;};


    vdd_5v: fixedregulator-vdd_5v {compatible = "regulator-fixed";regulator-name = "vdd_5v";regulator-min-microvolt = <5000000>; regulator-max-microvolt = <5000000>;regulator-always-on;regulator-boot-on;};
    vtt_fixed: fixedregulator-vtt {compatible = "regulator-fixed";regulator-name = "vtt_fixed";vin-supply = <&vdd_3v3>;regulator-min-microvolt = <3300000>;regulator-max-microvolt = <3300000>;regulator-always-on;regulator-boot-on;};

    src_clk_x1: src_clk_x1 {#clock-cells = <0>;compatible = "fixed-clock";clock-frequency = <20000000>;};
    src_clk_osc1: src_clk_osc1 {#clock-cells = <0>;compatible = "fixed-clock";clock-frequency = <24000000>;};
    src_clk_osc4: src_clk_osc4 {#clock-cells = <0>;compatible = "fixed-clock";clock-frequency = <24000000>;};

    leds {
        compatible = "gpio-leds";
        led0 {label = "beaglebone:green:usr0";gpios = <&gpio3 14 GPIO_ACTIVE_HIGH>;linux,default-trigger = "heartbeat";default-state = "off";};
        led1 {label = "beaglebone:green:usr1";gpios = <&gpio3 15 GPIO_ACTIVE_HIGH>;linux,default-trigger = "mmc0";default-state = "off";};
        led2 {label = "beaglebone:green:usr2";gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;linux,default-trigger = "cpu";default-state = "off";};
        led3 {label = "beaglebone:green:usr3";gpios = <&gpio3 17 GPIO_ACTIVE_HIGH>;linux,default-trigger = "mmc1";default-state = "off";};
        };

    &davinci_mdio {reset-gpios = <&gpio2 23 GPIO_ACTIVE_LOW>;reset-delay-us = <2>;phy0: ethernet-phy@1 {reg = <4>;};};
    &mac {slaves = <1>;status = "okay";};
    &cpsw_emac0 {phy-handle = <&phy0>;phy-mode = "rgmii";};

    &mmc1 {status = "okay";vmmc-supply = <&vdd_3v3>;vmmc_aux-supply = <&vdd_sd>;vqmmc-supply = <&vdd_sd>;bus-width = <4>;max-frequency = <24000000>;cd-gpios = <&gpio6 27 GPIO_ACTIVE_LOW>;pinctrl-names = "default", "hs", "sdr12", "sdr25", "sdr50", "ddr50", "sdr104";pinctrl-0 = <&mmc1_pins_default>;pinctrl-1 = <&mmc1_pins_hs>;pinctrl-2 = <&mmc1_pins_default>;pinctrl-3 = <&mmc1_pins_hs>;pinctrl-4 = <&mmc1_pins_sdr50>;pinctrl-5 = <&mmc1_pins_ddr50 &mmc1_iodelay_ddr_rev20_conf>;pinctrl-6 = <&mmc1_pins_ddr50 &mmc1_iodelay_sdr104_rev20_conf>;};
    &mmc2 {status = "okay";vmmc-supply = <&vdd_3v3>;bus-width = <8>;ti,non-removable;non-removable;max-frequency = <96000000>;no-1-8-v;/delete-property/ mmc-hs200-1_8v;pinctrl-names = "default", "hs";pinctrl-0 = <&mmc2_pins_default>;pinctrl-1 = <&mmc2_pins_default>;};

    &usb2_phy1 {phy-supply = <&ldousb_reg>;};
    &usb2_phy2 {phy-supply = <&ldousb_reg>;};
    &usb1 {dr_mode = "host";};
    &omap_dwc3_2 {extcon = <&extcon_usb2>;};
    &usb2 {dr_mode = "peripheral";};

    &cpu_trips {cpu_alert1: cpu_alert1 {temperature = <50000>;/hysteresis = <2000>;type = "active";};};
    &cpu_cooling_maps {map1 {trip = <&cpu_alert1>;};};
    &thermal_zones {board_thermal: board_thermal {polling-delay-passive = <1250>;polling-delay = <1500>;board_trips: trips {board_alert0: board_alert {temperature = <40000>;hysteresis = <2000>;type = "active";};board_crit: board_crit {temperature = <105000>;hysteresis = <0>;type = "critical";};};board_cooling_maps: cooling-maps {map0 {trip = <&board_alert0>;};};};};
    &cpu_alert0 {temperature = <80000>;};
    &cpu_crit {temperature = <90000>;};
    &gpu_crit {temperature = <90000>;};
    &core_crit {temperature = <90000>;};
    &dspeve_crit {temperature = <90000>;};
    &iva_crit {temperature = <90000>;};
    &cpu0_opp_table {opp-shared;};

    &mailbox5 {status = "okay";mbox_ipu1_ipc3x: mbox_ipu1_ipc3x {status = "okay";};mbox_dsp1_ipc3x: mbox_dsp1_ipc3x {status = "okay";};};
    &mailbox6 {status = "okay";mbox_ipu2_ipc3x: mbox_ipu2_ipc3x {status = "okay";};mbox_dsp2_ipc3x: mbox_dsp2_ipc3x {status = "okay";};};

    ocp {
        dsp2_system: dsp_system@41500000 {compatible = "syscon";reg = <0x41500000 0x100>;};
        omap_dwc3_4: omap_dwc3_4@48940000 {compatible = "ti,dwc3";ti,hwmods = "usb_otg_ss4";reg = <0x48940000 0x10000>;interrupts = <GIC_SPI 346 IRQ_TYPE_LEVEL_HIGH>;#address-cells = <1>;#size-cells = <1>;utmi-mode = <2>;ranges;status = "disabled";usb4: usb@48950000 {compatible = "snps,dwc3";reg = <0x48950000 0x17000>;interrupts = <GIC_SPI 345 IRQ_TYPE_LEVEL_HIGH>,<GIC_SPI 345 IRQ_TYPE_LEVEL_HIGH>,<GIC_SPI 346 IRQ_TYPE_LEVEL_HIGH>;interrupt-names = "peripheral","host","otg";maximum-speed = "high-speed";dr_mode = "otg";};};
        target-module@41501000 {compatible = "ti,sysc-omap2", "ti,sysc";reg = <0x41501000 0x4>,<0x41501010 0x4>,<0x41501014 0x4>;reg-names = "rev", "sysc", "syss";ti,sysc-sidle = <SYSC_IDLE_FORCE>,<SYSC_IDLE_NO>,<SYSC_IDLE_SMART>;ti,sysc-mask = <(SYSC_OMAP2_CLOCKACTIVITY |SYSC_OMAP2_SOFTRESET |SYSC_OMAP2_AUTOIDLE)>;clocks = <&dsp2_clkctrl DRA7_DSP2_MMU0_DSP2_CLKCTRL 0>;clock-names = "fck";resets = <&prm_dsp2 1>;reset-names = "rstctrl";ranges = <0x0 0x41501000 0x1000>;#size-cells = <1>;#address-cells = <1>;mmu0_dsp2: mmu@0 {compatible = "ti,dra7-dsp-iommu";reg = <0x0 0x100>;interrupts = <GIC_SPI 146 IRQ_TYPE_LEVEL_HIGH>;#iommu-cells = <0>;ti,syscon-mmuconfig = <&dsp2_system 0x0>;};};
        target-module@41502000 {compatible = "ti,sysc-omap2", "ti,sysc";reg = <0x41502000 0x4>,<0x41502010 0x4>,<0x41502014 0x4>;reg-names = "rev", "sysc", "syss";ti,sysc-sidle = <SYSC_IDLE_FORCE>,<SYSC_IDLE_NO>,<SYSC_IDLE_SMART>;ti,sysc-mask = <(SYSC_OMAP2_CLOCKACTIVITY |SYSC_OMAP2_SOFTRESET |SYSC_OMAP2_AUTOIDLE)>;clocks = <&dsp2_clkctrl DRA7_DSP2_MMU0_DSP2_CLKCTRL 0>;clock-names = "fck";resets = <&prm_dsp2 1>;reset-names = "rstctrl";ranges = <0x0 0x41502000 0x1000>;#size-cells = <1>;#address-cells = <1>;mmu1_dsp2: mmu@0 {compatible = "ti,dra7-dsp-iommu";reg = <0x0 0x100>;interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>;#iommu-cells = <0>;ti,syscon-mmuconfig = <&dsp2_system 0x1>;};};
    };
};
